<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>系统监控走势图</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <!-- ECharts 3 引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
	<head>
	<style>
		#run{
			float: left;
		}
		#stop{
			float: left;
		}
		#clear{
			float: left;
		}
		#cpu{
			width: 50%;
			height: 300px;
			float: left;
			clear: left;
		}
		#mem{
			width: 50%;
			height: 300px;
			float: left;
		}
		#io{
			width: 50%;
			height: 300px;
			float: left;
			clear: left;
		}
		#ioCount{
			width: 50%;
			height: 300px;
			float: left;
		}
		#stat{
			width: 50%;
			height: 300px;
			clear: left;
			float: left;
		}
	</style>
</head>
</head>
 
<body>
    <form id="run" method="POST" action='#'>
        <input id="pid" type="text" name="pid" placeholder="Message">
        <input id="run_button" type="submit" value="Run">
    </form>
    <form id="stop" method="POST" action="#">
        <input id="stop_button" type="submit" value="Stop" disabled="true">
    </form>
    <form id="clear" method="POST" action="#">
        <input type="submit" value="Clear">
    </form>
	
	<div id="cpu"></div>
	<div id="mem"></div>
	<div id="io"></div>
	<div id="ioCount"></div>
	<div id="stat"></div>
	
    <script type="text/javascript">
    // 首次显示加载动画
    //cpuChart.showLoading();
	//memChart.showLoading(); 
 
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
		/**
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
 
        socket.on('server_response', function(res) {
            update_Chart(res);
        });
		**/
		
		var ret;
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
		
		socket.on('my_response', function(res) {
			update_Chart(res);
		});
		
		$('form#stop').submit(function(event) {
			self.clearInterval(ret);
			total_read_bytes = 0;
			total_write_bytes = 0;
			document.getElementById("run_button").disabled = false;
			document.getElementById("stop_button").disabled = true;
			return false;
		});
		$('form#clear').submit(function(event) {
			init_Chart();
			return false;
		});
		$('form#run').submit(function(event) {
		
			ret = self.setInterval(function() {
				socket.emit('my_event', {data: $('#pid').val()}); 
			},interval*1000);
			
			document.getElementById("stop_button").disabled = false;
			document.getElementById("run_button").disabled = true;
			return false;
		});
    });
 
	var interval = 3;
    var cpuChart = echarts.init(document.getElementById('cpu'));
	var memChart = echarts.init(document.getElementById('mem'));
	var ioChart = echarts.init(document.getElementById('io'));
	var ioCountChart = echarts.init(document.getElementById('ioCount'));
	var statChart = echarts.init(document.getElementById('stat'));
	var total_read_bytes = 0;
	var total_write_bytes = 0;
	var total_read_count = 0;
	var total_write_count = 0;
	
	var len = 120;

	var init_Chart = function () {
		cpuChart.setOption({
			title : {
				text: 'CPU占用率'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['cpu']
			},
			toolbox: {
				show : true,
				feature : {
					//mark : {show: true},
					dataView : {show: true, readOnly: false},
					//magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			dataZoom : {
				show : true,
				realtime : true,
				start : 0,
				end : 100
			},
			xAxis : [
				{
					name : '时间',
					type : 'category',
					boundaryGap : false,
					data : (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			],
			yAxis : [
				{
					name : '百分比',
					type : 'value'
				}
			],
			series: [
				{
					name: 'cpu',
					type: 'line',
					stack: '总量',
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			]
		}); 
		
		memChart.setOption({
			title : {
				text: '内存占用'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['rss','vms','shared','text','lib','data','dirty']
			},
			toolbox: {
				show : true,
				feature : {
					//mark : {show: true},
					dataView : {show: true, readOnly: false},
					//magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			dataZoom : {
				show : true,
				realtime : true,
				start : 0,
				end : 100
			},
			xAxis : [
				{
					name : '时间',
					type : 'category',
					boundaryGap : false,
					data : (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			],
			yAxis : [
				{
					name : 'KB',
					type : 'value'
				}
			],
			series: [
				{
					name: 'rss',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'vms',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'shared',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'text',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'lib',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'data',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'dirty',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			]
		}); 
		
		ioChart.setOption({
			title : {
				text: 'IO吞吐量'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['read_bytes','write_bytes']
			},
			toolbox: {
				show : true,
				feature : {
					//mark : {show: true},
					dataView : {show: true, readOnly: false},
					//magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			dataZoom : {
				show : true,
				realtime : true,
				start : 0,
				end : 100
			},
			xAxis : [
				{
					name : '时间',
					type : 'category',
					boundaryGap : false,
					data : (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			],
			yAxis : [
				{
					name : 'KB/s',
					type : 'value'
				}
			],
			series: [
				{
					name: 'read_bytes',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'write_bytes',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			]
		}); 
		
		ioCountChart.setOption({
			title : {
				text: 'IO频度'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['read_count','write_count']
			},
			toolbox: {
				show : true,
				feature : {
					//mark : {show: true},
					dataView : {show: true, readOnly: false},
					//magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			dataZoom : {
				show : true,
				realtime : true,
				start : 0,
				end : 100
			},
			xAxis : [
				{
					name : '时间',
					type : 'category',
					boundaryGap : false,
					data : (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			],
			yAxis : [
				{
					name : '次/s',
					type : 'value'
				}
			],
			series: [
				{
					name: 'read_count',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'write_count',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			]
		}); 
		
		statChart.setOption({
			title : {
				text: '统计'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['num_threads','num_fds']
			},
			toolbox: {
				show : true,
				feature : {
					//mark : {show: true},
					dataView : {show: true, readOnly: false},
					//magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			dataZoom : {
				show : true,
				realtime : true,
				start : 0,
				end : 100
			},
			xAxis : [
				{
					name : '时间',
					type : 'category',
					boundaryGap : false,
					data : (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			],
			yAxis : [
				{
					name : '数量',
					type : 'value'
				}
			],
			series: [
				{
					name: 'num_threads',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				},
				{
					name: 'num_fds',
					type: 'line',
					data: (function (){
						var arr = [];
						for(var i=0;i<len;i++){
							arr.push(0);
						}
						return arr;
					})()
				}
			]
		}); 
	};
 
    var time = [""]
	//process_series_data = []
 
    //准备好统一的 callback 函数
    var update_Chart = function (res) {
    //res是json格式的response对象
 
        // 隐藏加载动画
        //cpuChart.hideLoading();
		//memChart.hideLoading();
 
        // 准备数据
		timeInfo = res.time;
		cpuInfo = res.cpu;
		memInfo = res.mem;
		ioInfo = res.io;
		statInfo = res.stat;
		
		read_bytes = (total_read_bytes == 0)?0:((ioInfo[0] - total_read_bytes)/interval);
		write_bytes = (total_write_bytes == 0)?0:((ioInfo[1] - total_write_bytes)/interval);

		read_count = (total_read_count == 0)?0:((ioInfo[2] - total_read_count)/interval);
		write_count = (total_write_count == 0)?0:((ioInfo[3] - total_write_count)/interval);
		
		total_read_bytes = ioInfo[0];
		total_write_bytes = ioInfo[1];
		total_read_count = ioInfo[2];
		total_write_count = ioInfo[3];
		
		var addFlag = false;
		
		var axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');
		// 动态数据接口 addData
		cpuChart.addData([
			[
				0,        // 系列索引
				cpuInfo[0], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag,     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
				axisData
			]		
		]);
		
		memChart.addData([
			[
				0,        // 系列索引
				memInfo[0], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				1,        // 系列索引
				memInfo[1], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				2,        // 系列索引
				memInfo[2], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				3,        // 系列索引
				memInfo[3], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				4,        // 系列索引
				memInfo[4], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				5,        // 系列索引
				memInfo[5], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				6,        // 系列索引
				memInfo[6], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag,     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
				axisData
			]		
		]);
		
		ioChart.addData([
			[
				0,          // 系列索引
				read_bytes, // 新增数据
				false,      // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				1,          // 系列索引
				write_bytes,// 新增数据
				false,      // 新增数据是否从队列头部插入
				addFlag,     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
				axisData
			]		
		]);
		
		ioCountChart.addData([
			[
				0,          // 系列索引
				read_count, // 新增数据
				false,      // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				1,          // 系列索引
				write_count,// 新增数据
				false,      // 新增数据是否从队列头部插入
				addFlag,    // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
				axisData
			]			
		]);
		
		statChart.addData([
			[
				0,        // 系列索引
				statInfo[0], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
			],
			[
				1,        // 系列索引
				statInfo[1], // 新增数据
				false,     // 新增数据是否从队列头部插入
				addFlag,     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
				axisData
			]			
		]);
		
    };
	
	init_Chart();
 
    </script>
</body>
</html>
